.DS_Store
.vscode/
config/deployment-results.json
config/runner_config.json
node_modules/
yarn-error.log
polyjuice/node_modules
polyjuice/*.log
ckb/data
indexer-data/ckb-indexer-data
indexer-data/indexer-log
ckb-cli-data/
postgres-data/
docker/gen-godwoken-schema/schemas/*
docker/.submodule.list.env
cargo-cache-data/
quick-mode/

config/scripts/release/*
!config/scripts/release/poa
!config/scripts/release/state

config/*generator
config/*validator

packages/*
!packages/.gitkeep
workspace/*
!workspace/.gitkeep
cache/activity/*
cache/build/*

plugins/*/node_modules
plugins/*/*.log
plugins/gw-schema/schemas
plugins/gw-schema/tmp

*.log
