.DS_Store
.vscode/
config/deployment-results.json
config/runner_config.json
node_modules/
yarn-error.log
polyjuice/node_modules
polyjuice/*.log
ckb/data
indexer-data/ckb-indexer-data
indexer-data/indexer-log
ckb-cli-data/
postgres-data/
docker/gen-godwoken-schema/schemas/*
docker/.submodule.list.env
cargo-cache-data/
quick-mode/

config/scripts/release/*


config/*generator
config/*validator

packages/*
!packages/.gitkeep
workspace/*
!workspace/.gitkeep
cache/activity/*
cache/build/*

plugins/*/node_modules
plugins/*/*.log
plugins/gw-schema/schemas
plugins/gw-schema/tmp

*.log

/docker/postgres/data/
/docker/redis/data/
/docker/ckb-indexer/data/
/docker/layer1/ckb/data/
/docker/layer1/ckb2/data/
/docker/layer1/ckb3/data/
/docker/layer2/data/
/docker/layer2/config/scripts-deployment.json
/docker/layer2/config/rollup-genesis-deployment.json
/docker/layer2/config/godwoken-config.toml
/docker/layer2/config/polyjuice-root-account-id
/docker/layer2/config/web3-config.env
/docker/layer2/config/web3-indexer-config.toml
/docker/manual-artifacts/
