.DS_Store
config/deployment-results.json
config/runner_config.json
node_modules/
yarn-error.log
polyjuice/node_modules
polyjuice/*.log
ckb-data/data
indexer-data/ckb-indexer-data
indexer-data/indexer-log
ckb-cli-data/
postgres-data/
docker/gen-godwoken-schema/schemas/*
docker/.manual.build.list.env
docker/layer2/Dockerfile
cargo-cache-data/
