####[mode]
MANUAL_BUILD_GODWOKEN=false
MANUAL_BUILD_WEB3=false

####[godwoken]
GODWOKEN_URL=https://github.com/nervosnetwork/godwoken.git
GODWOKEN_BRANCH=master
GODWOKEN_COMMIT=96cb75d

####[godwoken-web3]
GODWOKEN_WEB3_URL=https://github.com/bitrocks/godwoken-web3.git
GODWOKEN_WEB3_BRANCH=main
GODWOKEN_WEB3_COMMIT=0bb83b9

####[godwoken-polyjuice]
GODWOKEN_POLYJUICE_URL=https://github.com/nervosnetwork/godwoken-polyjuice.git
GODWOKEN_POLYJUICE_BRANCH=main
GODWOKEN_POLYJUICE_COMMIT=548d76e

####[godwoken-examples]
GODWOKEN_EXAMPLES_URL=https://github.com/RetricSu/godwoken-examples.git
GODWOKEN_EXAMPLES_BRANCH=polyman-master
GODWOKEN_EXAMPLES_COMMIT=200a17a

