####[mode]
MANUAL_BUILD_GODWOKEN=false
MANUAL_BUILD_WEB3=false
MANUAL_BUILD_SCRIPTS=false
MANUAL_BUILD_POLYJUICE=false

####[godwoken]
#info: tags/v0.2.0-rc3-0-g96cb75d, 96cb75d Sanitize deposit cells
GODWOKEN_URL=https://github.com/nervosnetwork/godwoken.git
GODWOKEN_BRANCH=master
GODWOKEN_COMMIT=96cb75d

####[godwoken-web3]
#info: heads/main-0-g0bb83b9, 0bb83b9 Merge pull request #1 from Flouse/docker
GODWOKEN_WEB3_URL=https://github.com/nervosnetwork/godwoken-web3.git
GODWOKEN_WEB3_BRANCH=main
GODWOKEN_WEB3_COMMIT=0bb83b9

####[godwoken-polyjuice]
#info: tags/v0.6.0-rc1-0-g548d76e, 548d76e Merge pull request #29 from TheWaWaR/update-godwoken-scripts
GODWOKEN_POLYJUICE_URL=https://github.com/nervosnetwork/godwoken-polyjuice.git
GODWOKEN_POLYJUICE_BRANCH=main
GODWOKEN_POLYJUICE_COMMIT=548d76e

####[godwoken-examples]
#info: heads/polyman-master-0-g200a17a, 200a17a Update server.json
GODWOKEN_EXAMPLES_URL=https://github.com/RetricSu/godwoken-examples.git
GODWOKEN_EXAMPLES_BRANCH=polyman-master
GODWOKEN_EXAMPLES_COMMIT=200a17a

####[godwoken-scripts]
#info: heads/master-0-gec77128, ec77128 Merge pull request #25 from nervosnetwork/fix-post-global-state-check
GODWOKEN_SCRIPTS_URL=https://github.com/nervosnetwork/godwoken-scripts.git
GODWOKEN_SCRIPTS_BRANCH=master
GODWOKEN_SCRIPTS_COMMIT=ec77128

